# Linear Regression hpp

## Importing the Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

## import the datasets:

In [13]:
df = pd.read_csv(r"C:/Users/HP/Desktop/bangalore house price.csv")

In [14]:
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sq,availability_Ready To Move,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,3,2.0,150.0,1672.0,3,8971.291866,1,NaN,NaN,NaN
1,3,3.0,149.0,1750.0,3,8514.285714,1,NaN,NaN,NaN
2,3,2.0,150.0,1750.0,3,8571.428571,1,NaN,NaN,NaN
3,2,2.0,40.0,1250.0,2,3200.000000,1,NaN,NaN,NaN
4,2,2.0,83.0,1200.0,2,6916.666667,1,NaN,NaN,NaN

In [15]:
df.drop(["Unnamed: 7","Unnamed: 8","Unnamed: 9"],axis=1,inplace=True)

In [16]:
#Splitting the Datasets:
X = df.drop('price',axis=1)
y = df["price"]

In [17]:
X.shape
y.shape

(7120,)

## Splitting the datasets:

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=0)

## Linear Regression:

In [19]:
from sklearn.linear_model import LinearRegression
lr= LinearRegression()

In [20]:
lr.fit(X_train,y_train)

LinearRegression()

In [21]:
lr.coef_

array([ -3.44937634,  -0.52805297,   0.090567  , -13.20172266,
         0.02288852,  -3.86787824])

In [22]:
lr.intercept_

-128.22541496163325

## Prediction:

In [23]:
lr.predict(X_test)

array([ 71.92884148,   9.23310895,  59.1068239 , ...,  90.13455183,
        86.59223279, 678.18455383])

## Accuracy:

In [24]:
lr.score(X_test,y_test)

0.8937992589143658